@charset "UTF-8";
/* line 2, ../projet/sass/app.scss */
ul.no-style {
  list-style: none;
}

/* line 5, ../projet/sass/app.scss */
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}
/* line 9, ../projet/sass/app.scss */
body .gp-menu-right-box-shadow {
  -moz-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #rgba 0, 0, 0, 0.2;
  padding-bottom: 10px;
}
/* line 14, ../projet/sass/app.scss */
body #contenu-top {
  position: fixed;
  width: 100%;
  height: 52px;
  z-index: 50;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  border-bottom: 1px solid #000;
  display: none;
}
/* line 24, ../projet/sass/app.scss */
body #contenu-top #link-selected a {
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.7);
  margin: 1px 0px;
  padding: 0px 4px;
}
/* line 31, ../projet/sass/app.scss */
body #contenu-top #link-selected a i {
  margin-right: 5px;
}
/* line 34, ../projet/sass/app.scss */
body #contenu-top #link-selected a:after {
  content: '';
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.5);
  border-width: 5px 5px 5px 5px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  position: relative;
  float: right;
  opacity: 0.5;
  margin-top: 5px;
  margin-left: 12px;
  filter: alpha(opacity=100);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  cursor: default;
}
/* line 52, ../projet/sass/app.scss */
body #contenu-top #link-selected a:last-child {
  color: #000;
  font-weight: bolder;
  padding: 0px 0px 0 4px;
}
/* line 57, ../projet/sass/app.scss */
body #contenu-top #link-selected a:last-child:after {
  content: '';
  border-width: 0px;
}
/* line 65, ../projet/sass/app.scss */
body #contenu-top .gp-menu-top {
  width: 100%;
  height: 30px;
  background-color: #fcfff4;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFCFFF4', endColorstr='#FFD9DDCC');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmZmNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Q5ZGRjYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfff4), color-stop(100%, #d9ddcc));
  background-image: -moz-linear-gradient(top, #fcfff4 0%, #d9ddcc 100%);
  background-image: -webkit-linear-gradient(top, #fcfff4 0%, #d9ddcc 100%);
  background-image: linear-gradient(to bottom, #fcfff4 0%, #d9ddcc 100%);
  border-bottom: 1px solid #eee;
}
/* line 73, ../projet/sass/app.scss */
body #contenu-top .gp-menu-top .gp-widget {
  float: left;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  display: none;
}
/* line 80, ../projet/sass/app.scss */
body #contenu-top .gp-menu-top .gp-widget i.fi-list {
  font-size: 30px;
  opacity: 0.6;
  cursor: pointer;
}
/* line 85, ../projet/sass/app.scss */
body #contenu-top .gp-menu-top .gp-widget i.fi-list:after {
  content: '';
  border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
  border-width: 5px 5px 5px 5px;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  position: relative;
  float: right;
  opacity: 1;
  margin-top: 13px;
  margin-left: 8px;
  filter: alpha(opacity=100);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  cursor: default;
}
/* line 103, ../projet/sass/app.scss */
body #contenu-top .gp-menu-top .gp-widget .top-menu {
  position: absolute;
  z-index: 2;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
/* line 108, ../projet/sass/app.scss */
body #contenu-top .gp-menu-top .gp-widget .top-menu .menu {
  display: inline-block;
  padding: 0;
  margin: 0;
}
/* line 110, ../projet/sass/app.scss */
body #contenu-top .gp-menu-top .gp-widget .top-menu .menu li {
  font-size: 1.1em;
  display: block;
  height: 20px;
  padding: 4px 6px;
}
/* line 116, ../projet/sass/app.scss */
body #contenu-top .gp-menu-top .gp-widget .top-menu .menu li a {
  display: block;
  height: 20px;
  width: 100%;
  text-decoration: none;
}
/* line 122, ../projet/sass/app.scss */
body #contenu-top .gp-menu-top .gp-widget .top-menu .menu li ul {
  display: none;
}
/* line 133, ../projet/sass/app.scss */
body #contenu-top .gp-menu-top .sous-menu-top {
  display: none;
  margin-left: 2%;
}
/* line 136, ../projet/sass/app.scss */
body #contenu-top .gp-menu-top .sous-menu-top ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 139, ../projet/sass/app.scss */
body #contenu-top .gp-menu-top .sous-menu-top ul li {
  display: inline-block;
  margin: 0 5px;
  height: 30px;
}
/* line 143, ../projet/sass/app.scss */
body #contenu-top .gp-menu-top .sous-menu-top ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bolder;
  display: block;
  height: 20px;
  margin-top: 5px;
  padding: 0 7px;
  line-height: 20px;
}
/* line 157, ../projet/sass/app.scss */
body #contenu-top .gp-menu-top .sous-menu-top ul li.active a {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF6F6F6');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjFmMWYxIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNlMWUxZTEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1), color-stop(100%, #f6f6f6));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
/* line 175, ../projet/sass/app.scss */
body .gp-menu-right-main-content {
  width: 100%;
  min-height: 200px;
}
/* line 179, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right {
  height: 75px;
  padding-top: 30px;
  position: fixed;
  width: 100%;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: #f9f9f9;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border-bottom: 2px solid #ccc;
}
/* line 190, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu {
  text-align: center;
}
/* line 192, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu .logo {
  position: absolute;
  left: 0;
  height: 75px;
  width: 150px;
  margin-top: -30px;
}
/* line 199, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu .logo img {
  height: 75px;
}
/* line 205, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu .gdp-lien {
  display: inline-block;
  height: 30px;
  padding: 5px 5px;
  margin: 8px;
  border-bottom: 3px solid #f9f9f9;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 215, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu .gdp-lien a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
/* line 219, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu .gdp-lien:hover {
  border-bottom: 3px solid #59a7cc;
}
/* line 221, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu .gdp-lien:hover ul {
  display: block;
}
/* line 226, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu .gdp-lien ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #f1f1f1;
  display: block;
  width: 100%;
  margin-top: 6px;
  display: none;
<<<<<<< HEAD
  width: 200px;
  margin-top: -30px;
  margin-right: -203px;
  border: 1px solid #ccc;
  background-color: #f7f4f4;
  position: relative;
  z-index: 5;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
=======
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 235, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu .gdp-lien ul li {
  padding: 0px 20px;
  text-transform: lowercase;
  font-family: "Trebushet MS";
  height: 30px;
  border-bottom: 1px solid #ccc;
  line-height: 30px;
>>>>>>> n-theme
}
/* line 242, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu .gdp-lien ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 247, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu .gdp-lien ul li:hover {
  background-color: #d6d6d6;
  border-bottom: 1px solid #777;
}
/* line 253, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu .gdp-lien ul li.active a {
  color: #59a7cc;
}
<<<<<<< HEAD
/* line 247, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu li.active ul {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  border: 0px solid #ccc;
  background-color: transparent;
  -moz-box-shadow: 0 0px 0px transparent;
  -webkit-box-shadow: 0 0px 0px transparent;
  box-shadow: 0 0px 0px transparent;
  position: relative;
}
/* line 256, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu li.active ul li {
  background: transparent;
}
/* line 258, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu li.active ul li a {
  background-color: transparent;
  font-size: 0.8em;
  padding-left: 8%;
  width: 92%;
  border-bottom: 0px solid #6fad66;
}
/* line 264, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu li.active ul li a:hover {
  background-color: #b0d3ab;
}
/* line 272, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu li.active ul li.active a {
  font-size: 0.9em;
  padding-left: 11%;
  color: #498ab2;
  width: 89%;
  border-bottom: 0px solid #6fad66;
  background-color: #b0d3ab;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset, 0 -1px 1px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset, 0 -1px 1px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) inset, 0 -1px 1px rgba(0, 0, 0, 0.3) inset;
}
/* line 290, ../projet/sass/app.scss */
=======
/* line 259, ../projet/sass/app.scss */
body .gp-menu-right-main-content .gp-menu-right .menu .gdp-lien.active {
  border-bottom: 3px solid #59a7cc;
}
/* line 267, ../projet/sass/app.scss */
>>>>>>> n-theme
body .gp-menu-right-main-content .gp-main-content {
  width: 80%;
  background-color: white;
  min-height: 200px;
  display: block;
  padding: 1% 2%;
<<<<<<< HEAD
  margin-left: 15%;
  /*border:1px solid rgba(0,0,0,0.2);*/
}
/* line 298, ../projet/sass/app.scss */
=======
  margin: 80px auto;
  position: relative;
  /*border:1px solid rgba(0,0,0,0.2);*/
}
/* line 276, ../projet/sass/app.scss */
>>>>>>> n-theme
body .gp-menu-right-main-content .gp-main-content p {
  text-align: justify;
}

@media only screen {
<<<<<<< HEAD
  /* line 308, ../projet/sass/app.scss */
=======
  /* line 292, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body {
    top: 0;
    left: 0;
    width: 100%;
  }
<<<<<<< HEAD
  /* line 312, ../projet/sass/app.scss */
=======
  /* line 296, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body .onlysmall {
    display: none;
  }
}
@media only screen and (min-width: 64.063em) {
<<<<<<< HEAD
  /* line 320, ../projet/sass/app.scss */
  #body {
    width: 100%;
  }
  /* line 322, ../projet/sass/app.scss */
=======
  /* line 304, ../projet/sass/app.scss */
  #body {
    width: 100%;
  }
  /* line 306, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body .onlysmall {
    display: none;
  }
}
@media only screen and (max-width: 49em) {
<<<<<<< HEAD
  /* line 331, ../projet/sass/app.scss */
=======
  /* line 315, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body {
    top: 0;
    left: 0;
    width: 100%;
  }
<<<<<<< HEAD
  /* line 335, ../projet/sass/app.scss */
  #body .onlylarge {
    display: none;
  }
  /* line 338, ../projet/sass/app.scss */
  #body #contenu-top {
    display: block;
  }
  /* line 341, ../projet/sass/app.scss */
  #body #contenu-top .gp-menu-top .gp-widget {
    display: inline-block;
  }
  /* line 344, ../projet/sass/app.scss */
  #body #contenu-top .gp-menu-top .sous-menu-top {
    display: inline-block;
  }
  /* line 349, ../projet/sass/app.scss */
  #body .gp-menu-right-main-content {
    margin-top: 53px;
  }
  /* line 351, ../projet/sass/app.scss */
  #body .gp-menu-right-main-content .gp-menu-right {
    display: none;
  }
  /* line 354, ../projet/sass/app.scss */
=======
  /* line 319, ../projet/sass/app.scss */
  #body .onlylarge {
    display: none;
  }
  /* line 322, ../projet/sass/app.scss */
  #body #contenu-top {
    display: block;
  }
  /* line 325, ../projet/sass/app.scss */
  #body #contenu-top .gp-menu-top .gp-widget {
    display: inline-block;
  }
  /* line 328, ../projet/sass/app.scss */
  #body #contenu-top .gp-menu-top .sous-menu-top {
    display: inline-block;
  }
  /* line 333, ../projet/sass/app.scss */
  #body .gp-menu-right-main-content {
    margin-top: 53px;
  }
  /* line 335, ../projet/sass/app.scss */
  #body .gp-menu-right-main-content .gp-menu-right {
    display: none;
  }
  /* line 338, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body .gp-menu-right-main-content .gp-main-content {
    width: 96%;
    margin-left: 0%;
  }
<<<<<<< HEAD
  /* line 361, ../projet/sass/app.scss */
=======
  /* line 345, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body form.form-bloc {
    width: 100%;
    margin-left: 0%;
  }
<<<<<<< HEAD
  /* line 365, ../projet/sass/app.scss */
=======
  /* line 349, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body div.c1, #body div.c2, #body div.c3, #body div.c4,
  #body div.s1, #body div.s2, #body div.s3, #body div.s4 {
    width: 94%;
    margin-left: 2%;
    padding: 0;
  }
<<<<<<< HEAD
  /* line 374, ../projet/sass/app.scss */
=======
  /* line 358, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body .consultation-societe {
    border: 1px solid #dddddd;
    width: 100%;
    background-color: #f9f9f9;
    margin: 0;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
<<<<<<< HEAD
  /* line 380, ../projet/sass/app.scss */
=======
  /* line 364, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body .consultation-societe .icon {
    display: block;
    width: 100%;
    border: 0;
    background-color: #356aa0;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF356AA0', endColorstr='#FF356AA0');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1NmFhMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM1NmFhMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #356aa0), color-stop(100%, #356aa0));
    background-image: -moz-linear-gradient(top, #356aa0 0%, #356aa0 100%);
    background-image: -webkit-linear-gradient(top, #356aa0 0%, #356aa0 100%);
    background-image: linear-gradient(to bottom, #356aa0 0%, #356aa0 100%);
  }
<<<<<<< HEAD
  /* line 388, ../projet/sass/app.scss */
=======
  /* line 372, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body .consultation-societe .icon .nom {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5em;
    padding-top: 10px;
    color: #ffffff;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
  }
<<<<<<< HEAD
  /* line 398, ../projet/sass/app.scss */
=======
  /* line 382, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body .consultation-societe .icon .image {
    width: 100%;
    line-height: 250px;
  }
<<<<<<< HEAD
  /* line 401, ../projet/sass/app.scss */
=======
  /* line 385, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body .consultation-societe .icon .image img {
    width: 100%;
    display: inline-block;
    height: 100%;
  }
<<<<<<< HEAD
  /* line 407, ../projet/sass/app.scss */
  #body .consultation-societe .icon .lien {
    padding-top: 20px;
  }
  /* line 409, ../projet/sass/app.scss */
=======
  /* line 391, ../projet/sass/app.scss */
  #body .consultation-societe .icon .lien {
    padding-top: 20px;
  }
  /* line 393, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body .consultation-societe .icon .lien a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin: 2px;
  }
<<<<<<< HEAD
  /* line 414, ../projet/sass/app.scss */
=======
  /* line 398, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body .consultation-societe .icon .lien a:hover {
    text-decoration: underline;
    color: #ffffff;
  }
<<<<<<< HEAD
  /* line 419, ../projet/sass/app.scss */
  #body .consultation-societe .icon .lien a.active {
    color: #000;
  }
  /* line 424, ../projet/sass/app.scss */
=======
  /* line 403, ../projet/sass/app.scss */
  #body .consultation-societe .icon .lien a.active {
    color: #000;
  }
  /* line 408, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body .consultation-societe .detail {
    display: block;
    width: 100%;
    height: auto;
  }
<<<<<<< HEAD
  /* line 433, ../projet/sass/app.scss */
=======
  /* line 417, ../projet/sass/app.scss */
>>>>>>> n-theme
  #body #alert-box .alert-main {
    width: 80%;
  }
}
/*
	STANDARD STYLE 
*/
<<<<<<< HEAD
/* line 444, ../projet/sass/app.scss */
=======
/* line 428, ../projet/sass/app.scss */
>>>>>>> n-theme
#alert-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 70;
}
<<<<<<< HEAD
/* line 451, ../projet/sass/app.scss */
=======
/* line 435, ../projet/sass/app.scss */
>>>>>>> n-theme
#alert-box .bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
<<<<<<< HEAD
/* line 459, ../projet/sass/app.scss */
=======
/* line 443, ../projet/sass/app.scss */
>>>>>>> n-theme
#alert-box .bg i {
  color: #ffffff;
  float: right;
  margin-right: 16px;
  margin-top: 10px;
  cursor: pointer;
}
<<<<<<< HEAD
/* line 467, ../projet/sass/app.scss */
=======
/* line 451, ../projet/sass/app.scss */
>>>>>>> n-theme
#alert-box .alert-main {
  width: 50%;
  height: 70%;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
  margin: 5% auto;
  overflow: auto;
  padding: 1%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
<<<<<<< HEAD
/* line 477, ../projet/sass/app.scss */
=======
/* line 461, ../projet/sass/app.scss */
>>>>>>> n-theme
#alert-box .alert-main .loding-image {
  display: block;
  position: relative;
  margin: 40% auto;
  height: 15px;
}

<<<<<<< HEAD
/* line 487, ../projet/sass/app.scss */
=======
/* line 471, ../projet/sass/app.scss */
>>>>>>> n-theme
#authentification {
  width: 400px;
  margin: 10% auto;
}

<<<<<<< HEAD
/* line 495, ../projet/sass/app.scss */
=======
/* line 479, ../projet/sass/app.scss */
>>>>>>> n-theme
.input label {
  display: block;
  color: rgba(0, 0, 0, 0.6);
}
<<<<<<< HEAD
/* line 499, ../projet/sass/app.scss */
=======
/* line 483, ../projet/sass/app.scss */
>>>>>>> n-theme
.input input[type="text"],
.input input[type="number"],
.input input[type="date"],
.input input[type="password"],
.input select {
  height: 30px;
  border: 1px solid #dddddd;
  font-size: 1em;
  font-family: "Rockwell,Gautami";
  width: 100%;
  outline: none;
  padding-left: 2%;
}
<<<<<<< HEAD
/* line 512, ../projet/sass/app.scss */
=======
/* line 496, ../projet/sass/app.scss */
>>>>>>> n-theme
.input input[type="text"]:focus,
.input input[type="number"]:focus,
.input input[type="date"]:focus,
.input input[type="password"]:focus,
.input select:focus {
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
}

/* line 517, ../projet/sass/app.scss */
div {
  vertical-align: top;
}

/* line 520, ../projet/sass/app.scss */
div.submit {
  text-align: center;
}

/* line 523, ../projet/sass/app.scss */
div.c1 {
  width: 95%;
  margin-left: 1%;
  padding: 0;
  display: inline-block;
}

/* line 529, ../projet/sass/app.scss */
div.c2 {
  width: 47%;
  margin: 1%;
  display: inline-block;
  padding: 0;
}

/* line 535, ../projet/sass/app.scss */
div.c3 {
  width: 30.8%;
  margin: 1%;
  display: inline-block;
  padding: 0;
}

/* line 541, ../projet/sass/app.scss */
div.c4 {
  width: 22.5%;
  margin: 1%;
  display: inline-block;
  padding: 0;
}

/* line 547, ../projet/sass/app.scss */
=======
}

/* line 501, ../projet/sass/app.scss */
div {
  vertical-align: top;
}

/* line 504, ../projet/sass/app.scss */
div.submit {
  text-align: center;
}

/* line 507, ../projet/sass/app.scss */
div.c1 {
  width: 95%;
  margin-left: 1%;
  padding: 0;
  display: inline-block;
}

/* line 513, ../projet/sass/app.scss */
div.c2 {
  width: 47%;
  margin: 1%;
  display: inline-block;
  padding: 0;
}

/* line 519, ../projet/sass/app.scss */
div.c3 {
  width: 30.8%;
  margin: 1%;
  display: inline-block;
  padding: 0;
}

/* line 525, ../projet/sass/app.scss */
div.c4 {
  width: 22.5%;
  margin: 1%;
  display: inline-block;
  padding: 0;
}

/* line 531, ../projet/sass/app.scss */
>>>>>>> n-theme
div.s3 {
  width: 65.2%;
  margin: 1%;
  display: inline-block;
  padding: 0;
}

<<<<<<< HEAD
/* line 553, ../projet/sass/app.scss */
=======
/* line 537, ../projet/sass/app.scss */
>>>>>>> n-theme
form.form-bloc {
  border: 1px solid #dddddd;
  padding: 0;
  width: 80%;
  margin-left: 10%;
  background-color: #f9f9f9;
}
<<<<<<< HEAD
/* line 559, ../projet/sass/app.scss */
=======
/* line 543, ../projet/sass/app.scss */
>>>>>>> n-theme
form.form-bloc .titre {
  display: block;
  width: 100%;
  margin-left: 0;
  padding: 8px 0 8px 0;
  text-align: center;
  font-size: 1.3em;
  font-weight: bolder;
  text-shadow: 0 1px 1px #ffffff;
  margin-bottom: 10px;
  background-color: #ffffff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF6F6F6');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjFmMWYxIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNlMWUxZTEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1), color-stop(100%, #f6f6f6));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
}

<<<<<<< HEAD
/* line 578, ../projet/sass/app.scss */
=======
/* line 562, ../projet/sass/app.scss */
>>>>>>> n-theme
.societe {
  display: block;
  height: 40px;
  border-bottom: 1px solid #dddddd;
  color: rgba(0, 0, 0, 0.7);
  background-color: #f1f1f1;
}
<<<<<<< HEAD
/* line 584, ../projet/sass/app.scss */
.societe .logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
}
/* line 590, ../projet/sass/app.scss */
.societe .logo img {
  width: 100%;
  height: 100%;
}
/* line 595, ../projet/sass/app.scss */
.societe .nom {
  display: inline-block;
=======
/* line 568, ../projet/sass/app.scss */
.societe .logo {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
}
/* line 574, ../projet/sass/app.scss */
.societe .logo img {
  width: 100%;
  height: 100%;
}
/* line 579, ../projet/sass/app.scss */
.societe .nom {
  display: inline-block;
>>>>>>> n-theme
  height: 40px;
  line-height: 40px;
}

<<<<<<< HEAD
/* line 603, ../projet/sass/app.scss */
=======
/* line 587, ../projet/sass/app.scss */
>>>>>>> n-theme
.consultation-societe {
  border: 1px solid #dddddd;
  height: 400px;
  width: 80%;
  margin-left: 10%;
  background-color: #f9f9f9;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
<<<<<<< HEAD
/* line 611, ../projet/sass/app.scss */
=======
/* line 595, ../projet/sass/app.scss */
>>>>>>> n-theme
.consultation-societe .icon {
  width: 30%;
  height: 400px;
  border-right: 4px solid #000;
  display: inline-block;
  vertical-align: top;
  background-color: #356aa0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF356AA0', endColorstr='#FF356AA0');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM1NmFhMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM1NmFhMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #356aa0), color-stop(100%, #356aa0));
  background-image: -moz-linear-gradient(top, #356aa0 0%, #356aa0 100%);
  background-image: -webkit-linear-gradient(top, #356aa0 0%, #356aa0 100%);
  background-image: linear-gradient(to bottom, #356aa0 0%, #356aa0 100%);
}
<<<<<<< HEAD
/* line 622, ../projet/sass/app.scss */
=======
/* line 606, ../projet/sass/app.scss */
>>>>>>> n-theme
.consultation-societe .icon .nom {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.5em;
  padding-top: 40px;
  color: #ffffff;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
}
<<<<<<< HEAD
/* line 632, ../projet/sass/app.scss */
=======
/* line 616, ../projet/sass/app.scss */
>>>>>>> n-theme
.consultation-societe .icon .image {
  width: 100%;
  height: 250px;
  line-height: 250px;
}
<<<<<<< HEAD
/* line 636, ../projet/sass/app.scss */
=======
/* line 620, ../projet/sass/app.scss */
>>>>>>> n-theme
.consultation-societe .icon .image img {
  width: 100%;
  display: inline-block;
}
<<<<<<< HEAD
/* line 641, ../projet/sass/app.scss */
.consultation-societe .icon .lien {
  padding-top: 20px;
}
/* line 643, ../projet/sass/app.scss */
=======
/* line 625, ../projet/sass/app.scss */
.consultation-societe .icon .lien {
  padding-top: 20px;
}
/* line 627, ../projet/sass/app.scss */
>>>>>>> n-theme
.consultation-societe .icon .lien a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  margin: 2px;
}
<<<<<<< HEAD
/* line 648, ../projet/sass/app.scss */
=======
/* line 632, ../projet/sass/app.scss */
>>>>>>> n-theme
.consultation-societe .icon .lien a:hover {
  text-decoration: underline;
  color: #ffffff;
}
<<<<<<< HEAD
/* line 653, ../projet/sass/app.scss */
=======
/* line 637, ../projet/sass/app.scss */
>>>>>>> n-theme
.consultation-societe .icon .lien a.active {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF6F6F6');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjFmMWYxIi8+PHN0b3Agb2Zmc2V0PSI1MSUiIHN0b3AtY29sb3I9IiNlMWUxZTEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(50%, #f1f1f1), color-stop(51%, #e1e1e1), color-stop(100%, #f6f6f6));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #000;
  font-weight: bolder;
  padding: 0 4px;
}
<<<<<<< HEAD
/* line 663, ../projet/sass/app.scss */
.consultation-societe .icon .lien a.active:hover {
  text-decoration: none;
}
/* line 669, ../projet/sass/app.scss */
=======
/* line 647, ../projet/sass/app.scss */
.consultation-societe .icon .lien a.active:hover {
  text-decoration: none;
}
/* line 653, ../projet/sass/app.scss */
>>>>>>> n-theme
.consultation-societe .detail {
  display: inline-block;
  width: 68%;
  height: 100%;
  overflow: auto;
}
<<<<<<< HEAD
/* line 674, ../projet/sass/app.scss */
=======
/* line 658, ../projet/sass/app.scss */
>>>>>>> n-theme
.consultation-societe .detail .add-exo {
  overflow: hidden;
  height: 30px;
  border-bottom: 3px solid #ccc;
  margin-bottom: 6px;
}
<<<<<<< HEAD
/* line 679, ../projet/sass/app.scss */
=======
/* line 663, ../projet/sass/app.scss */
>>>>>>> n-theme
.consultation-societe .detail .add-exo .buttons {
  text-align: right;
  height: 30px;
}
<<<<<<< HEAD
/* line 684, ../projet/sass/app.scss */
=======
/* line 668, ../projet/sass/app.scss */
>>>>>>> n-theme
.consultation-societe .detail .les-exos {
  background-color: #ffffff;
}

<<<<<<< HEAD
/* line 690, ../projet/sass/app.scss */
=======
/* line 674, ../projet/sass/app.scss */
>>>>>>> n-theme
.message {
  background-color: #f7f7f9;
  border: 1px solid #444;
  position: absolute;
  z-index: 10;
  padding: 10px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
<<<<<<< HEAD
/* line 698, ../projet/sass/app.scss */
=======
/* line 682, ../projet/sass/app.scss */
>>>>>>> n-theme
.message i {
  color: #ccc;
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
}

<<<<<<< HEAD
/* line 705, ../projet/sass/app.scss */
=======
/* line 689, ../projet/sass/app.scss */
>>>>>>> n-theme
#logoSociete {
  display: inline-block;
  width: 100%;
}

/*
presentation employ├®
*/
<<<<<<< HEAD
/* line 712, ../projet/sass/app.scss */
=======
/* line 696, ../projet/sass/app.scss */
>>>>>>> n-theme
.salarie-presentation {
  padding: 10px 0;
  padding-left: 5px;
}
<<<<<<< HEAD
/* line 718, ../projet/sass/app.scss */
=======
/* line 702, ../projet/sass/app.scss */
>>>>>>> n-theme
.salarie-presentation .image img {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
<<<<<<< HEAD
/* line 722, ../projet/sass/app.scss */
.salarie-presentation div.sblock {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 725, ../projet/sass/app.scss */
.salarie-presentation div.block {
  background-color: #ffffff;
}
/* line 726, ../projet/sass/app.scss */
.salarie-presentation div.block .modifier-block {
  text-align: right;
}
/* line 732, ../projet/sass/app.scss */
=======
/* line 706, ../projet/sass/app.scss */
.salarie-presentation div.sblock {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 709, ../projet/sass/app.scss */
.salarie-presentation div.block {
  background-color: #ffffff;
}
/* line 710, ../projet/sass/app.scss */
.salarie-presentation div.block .modifier-block {
  text-align: right;
}
/* line 716, ../projet/sass/app.scss */
>>>>>>> n-theme
.salarie-presentation div.block .titre-bloc {
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Segoe UI";
  color: #4f85bb;
}
